.container {
  padding: 0.875rem 10px;
}
.inputField {
  background-color: transparent;
  border: 1px solid gray;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  outline: none;
}

.inputField::placeholder {
  color: #666666;
}
